@page "/add_auth_settings/{OrganizationId}/{Name}"

@using AuthHub.Models.Organizations
@using AuthHub.Models.Enums
@using AuthHub.Models.Passwords
@using AuthHub.WebUI.Connectors
@inject IOrganizationConnector _connector

<div>
    <EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <label>
            Name:
            <InputText @bind-Value="model.Name"></InputText>
        </label>
        <label>
            Scheme:
            <InputSelect @bind-Value="model.AuthScheme">
                @foreach (var scheme in AuthSchemes)
                {
                    if (model.AuthScheme == scheme)
                    {
                        <option selected="selected" value="@scheme.ToString()">@scheme.ToString()</option>
                    }
                    else
                    {
                        <option value="@scheme.ToString()">@scheme.ToString()</option>
                    }
                }
            </InputSelect>
        </label>
        <br />
        <label>
            Salt Length:
            <InputNumber @bind-Value="model.SaltLength"></InputNumber>
        </label>
        <br />
        <label>
            Hash Length:
            <InputNumber @bind-Value="model.HashLength"></InputNumber>
        </label>
        <br />
        <label>
            Iterations:
            <InputNumber @bind-Value="model.Iterations"></InputNumber>
        </label>
        <br />
        <label>
            Key:
            <InputText @bind-Value="model.Key"></InputText>
        </label>
        <br />
        <label>
            Expiration in Minutes:
            <InputNumber @bind-Value="model.ExpirationMinutes"></InputNumber>
        </label>
        <div>
            <h3>Claims Keys</h3>
            <ul>
                @foreach (var key in model.ClaimsKeys)
                {
                    <li>
                        <span>@key</span>
                        <button @onclick="@OnRemoveClaimsKeyClick(key.Name)">Remove</button>
                    </li>
                }
            </ul>
            <label>
                New Claim Key
                <InputText @bind-Value="@NewKey"></InputText>
            </label>
            <button name="Add Claim Key"></button>
        </div>
        <button type="submit">Save</button>
    </EditForm>
</div>

@code {

    private AuthSettings model { get; set; } = new AuthSettings();

    [Parameter]
    public string OrganizationId { get; set; }

    [Parameter]
    public string Name { get; set; } = string.Empty;

    private string NewKey { get; set; }

    private List<AuthSchemeEnum> AuthSchemes = Enum.GetValues<AuthSchemeEnum>().ToList();

    protected override async Task OnInitializedAsync()
    {
    }

    protected EventCallback OnRemoveClaimsKeyClick(string key)
    {
        model.ClaimsKeys.Where(x => x.Name != key);
        return new EventCallback();
    }

    protected EventCallback OnAddClaimsKeyClick()
    {
        model.ClaimsKeys.Add(new ClaimsKey()
            {
                AuthSettingsId = model.ID,
                Name = NewKey
            });
        return new EventCallback();
    }

    private async Task HandleValidSubmit()
        => await _connector.SaveAuthSettings(model);
}