@page "/edit_user"
@page "/edit_user/{UserId}"

@using AuthHub.Models.Users
@using AuthHub.SDK
@using AuthHub.WebUI.Connectors

@inject IUserConnector _userConnector;

<h3>EditUserComponent</h3>


<div>
    <EditForm Model="@Model" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <label>
            First Name:
            <InputText @bind-Value="Model?.User?.FirstName"></InputText>
        </label>
        <label>
            Last Name:
            <InputText @bind-Value="Model?.User?.LastName"></InputText>
        </label>
        <label>
            UserName:
            <InputText @bind-Value="Model?.User?.UserName"></InputText>
        </label>
        <div>
            <h3>Existing Claims</h3>
            <table>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                    <th>Action</th>
                </tr>
                @foreach (var claim in Model?.User?.Password?.Claims)
                {
                    <tr>
                        <td>@claim.Key</td>
                        <td>@claim.Value</td>
                        <td>
                            <button @onclick="@(e => HandleRemoveClaim(claim.Key))">Remove</button>
                        </td>
                    </tr>
                }

            </table>
            <div>
                <span>
                    <InputSelect @bind-Value="SelectedClaimKeyToAdd">
                        @foreach (var key in Model.ClaimsKeys)
                        {
                            <option value="@key.ID">@key.Name</option>
                        }
                    </InputSelect>
                </span>
                <label>
                    Value
                    <InputText @bind-Value="SelectedClaimKeyValueToAdd"></InputText>
                </label>
            </div>
        </div>
        <button type="submit">Save</button>
    </EditForm>
</div>

@code {
    [Parameter]
    public UserViewModel Model { get; set; } = new();

    [Parameter]
    public string UserId { get; set; }

    protected string SelectedClaimKeyToAdd { get; set; }
    protected string SelectedClaimKeyValueToAdd { get; set; }

    protected async override Task OnInitializedAsync()
    {
        if (Guid.TryParse(UserId, out Guid userId))
        {
            Model = await _userConnector.GetAsync(userId);
        }
    }

    protected async Task HandleValidSubmit()
    {
        await _userConnector.SaveAsync(Model);
    }

    protected async Task HandleAddClaim()
    {
        if (
            string.IsNullOrWhiteSpace(SelectedClaimKeyToAdd)
            || string.IsNullOrWhiteSpace(SelectedClaimKeyValueToAdd)
        ) return;

        Model.User.Password.Claims.Add(null);
    }

    protected async Task HandleRemoveClaim(string name)
    {
        Model.User.Password.Claims = Model.User.Password.Claims.Where(x => x.Key != name).ToList();
    }
}
